body {
  margin: 15px auto;
  max-width: 600px;
  line-height: 1.6;
  font-size: 15px;
  padding: 0 10px;
  /* Use system fonts */
  font-family: system-ui, sans-serif;
  color: #222;
}

/* Change color in night mode */
@media (prefers-color-scheme: dark) {
  body {
    color: #eee;
    background-color: #222;
  }

  a:link {
    color: lightskyblue;
  }

  a:visited {
    color: violet;
  }

  .night-invert {
    filter: invert(88%) hue-rotate(180deg);
  }
}

nav {
  font-size: 25px;
  a {
    margin-right: 15px;
  }
}

h1.title {
  text-align: center;
}

h1,
h2,
h3 {
  line-height: 1.2;
}

.about-container {
  display: flex;
  align-items: center;
  justify-content: left;
}

.about-container img {
  float: left;
}

.about-container p {
  padding-left: 20px;
  float: left;
}

.about-photo {
  margin: 0;
  margin-right: 12px;
  min-width: 200px;
  max-height: 200px;
  overflow: hidden;
}

.about-photo img {
  width: 300px;
  margin: -70px 0 0 -40px;
}

header > nav > a {
  text-decoration: none;
}

footer {
  text-align: center;
  font-size: 12px;
}

ul {
  list-style-type: "+ ";
  padding-left: 20px;
  margin-top: 0.25em;
  margin-bottom: 0.25em;
}

li {
  margin-top: 0.25em;
}

.central {
  text-align: center;
}

a.button {
  display: block;
  padding: 1px 6px;
  border: 4px solid buttonface;
  color: buttonface;
  text-decoration: none;
}

a.button:hover {
  background-color: buttonface;
  color: black;
}

div > .header {
  display: flex;
  justify-content: space-between;
  margin: 0em;
}

/* Raise text size on small screens */
@media only screen and (min-device-width: 300px) and (max-device-width: 1150px) {
  body {
    font-size: 30px;
  }

  nav {
    font-size: 45px;
  }

  pre {
    font-size: 25px;
  }

  footer {
    font-size: 20px;
  }

  blockquote {
    font-size: 30px;
  }
}

/* Remove certain elements when printing */
@media print
{
  .no-print, .no-print *
  {
    display: none !important;
  }
  a {
    text-decoration: none;
    color: #000
  }

  /* remove added header and footer */
  @page
  {
    size: auto;
    margin: 0mm;
  }
}