body {
  margin: auto;
  max-width: 600px;
  line-height: 1.6;
  font-size: 15px;
  padding: 0 10px;
  /* Use system fonts */
  font-family: system-ui, sans-serif;
  color: #222;
}

/* Change color in night mode */
@media (prefers-color-scheme: dark) {
  body {
    color: #eee;
    background-color: #222;
  }

  .night-invert {
    filter: invert(88%) hue-rotate(180deg);
  }

  .night-darken {
    filter: brightness(90%);
  }
}

.body-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
}

figure {
  margin: 0px;
}

figcaption {
  text-align: center;
  filter: brightness(80%);
}

#banner {
  width: 100%;
  aspect-ratio: 6/4;
  background-image: url("/assets/pics/me_and_mum.jpg");
  background-position: 0% 5%;
  background-repeat: no-repeat;
  background-size: cover;
}

h1,
h2,
h3 {
  line-height: 1.2;
}

nav {
  margin-top: 7.5px;
  font-size: 25px;

  a {
    margin-right: 15px;
    text-decoration: none;
  }
}

#guitar-tooltip {
  position: relative;
}

#guitar-tooltip a img {
  display: none;
  color: #FFFFFF;
}

#guitar-tooltip a:hover img {
  display: block;
  position: absolute;
  border-radius: 15px;
  left: -78.275px;
  top: 2em;
  padding: 0 5px;
}

.resume-container {
  display: flex;
  align-items: center;
  gap: 1em;
  justify-content: center;
  flex-direction: column;
}

footer {
  text-align: center;
  font-size: 12px;
}

ul {
  list-style-type: "+ ";
  padding-left: 20px;
  margin-top: 0.25em;
  margin-bottom: 0.25em;
}

li {
  margin-top: 0.25em;
}

.central {
  text-align: center;
}

a.button {
  display: block;
  padding: 1px 6px;
  border: 4px solid buttonface;
  color: buttonface;
  text-decoration: none;
}

a.button:hover {
  background-color: buttonface;
  color: black;
}

a#download {
  background-color: dodgerblue;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

a#download:hover {
  /* make the background darker when we hover over the download button */
  background-color: color-mix(in srgb, dodgerblue, black);
}

a:link {
  color: dodgerblue;

  @media (prefers-color-scheme: dark) {
    color: lightskyblue;
  }
}

a:visited {
  /* remove the visited color */
  color: dodgerblue;

  @media (prefers-color-scheme: dark) {
    color: lightskyblue;
  }
}

/* Raise text size on small screens */
@media only screen and (min-device-width: 300px) and (max-device-width: 1150px) {
  body {
    font-size: 30px;
  }

  nav {
    font-size: 45px;
  }

  pre {
    font-size: 25px;
  }

  footer {
    font-size: 20px;
  }

  blockquote {
    font-size: 30px;
  }
}

/* Remove certain elements when printing */
@media print {

  .no-print,
  .no-print * {
    display: none !important;
  }

  a {
    text-decoration: none;
    color: #000
  }

  /* remove added header and footer */
  @page {
    size: auto;
    margin: 0mm;
  }
}