body {
  margin: 15px auto;
  max-width: 800px;
  line-height: 1.6;
  font-size: 15px;
  padding: 0 10px;
  /* Use system fonts */
  font-family: system-ui, sans-serif;
  color: #222;
}

/* Change color in night mode */
@media (prefers-color-scheme: dark) {
  body {
    color: #eee;
    background-color: #222;
  }

  a:link {
    color: lightskyblue;
  }

  a:visited {
    color: violet;
  }

  .night-invert {
    filter: invert(88%) hue-rotate(180deg);
  }
}

nav {
  font-size: 25px;
  a {
    margin-right: 15px;
  }
}

h1 {
  text-align: center;
}

h1,
h2,
h3 {
  line-height: 1.2;
}

footer {
  text-align: center;
  font-size: 12px;
}

/* Raise text size on small screens */
@media only screen and (min-device-width: 300px) and (max-device-width: 1150px) {
  body {
    font-size: 30px;
  }

  nav {
    font-size: 45px;
  }

  pre {
    font-size: 25px;
  }

  footer {
    font-size: 20px;
  }

  blockquote {
    font-size: 30px;
  }
}